.main-container
{
  height: 100vh;
  position: relative;
}

.header-button
{
  margin-left: 20px !important;
  margin-top: 5px !important;
  position: relative;
}

.main-content
{
  width: 100%;
  margin: auto;
}

.attention-banner
{
  text-align: center;
  padding-top: 40%;
}

.attention-banner img
{
  max-width: 50%;
}

.attention-banner h1
{
  font-size: 18px;
}

.search-field.is-focused > .mdl-textfield__expandable-holder > .mdl-textfield__label:after
{
  background-color: rgb(255,64,129) !important;
}

.mdl-layout__tab-bar-container .mdl-button
{
  min-width: 100px !important;
}

.mdl-layout__tab-bar-container
{
  overflow: visible !important;
}

.mdl-layout__tab-bar
{
  height: 100% !important;
}

.payment-in-rubles
{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

.payment-in-rubles .mdl-textfield, .payment-in-rubles .mdl-button
{
  width: 100% !important;
}
